@import './vars';
body {
    background: rgb(
        238,
        245,
        255
    ); //linear-gradient($c-light, $c-blue-dark, $c-green);
    //background: linear-gradient($c-blue-dark, #fff, $c-blue-light);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

section {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
    //border-bottom: 2px solid $c-blue-light;
}
section:first-child {
    border-bottom: none;
}
@media (max-width: $size-small-med) {
    section {
        flex-direction: column-reverse;
    }
}
@media #{$small-and-down} {
    // styles for medium screens and down
}
