$c-light: #f4fff8;
$c-dark: #303030;
$c-blue-light: #8cc4f7; // #effcfc;
$c-blue-dark: #3a5b88;
$c-blue-deep: #193644;
$c-green: #99c97e;

$c-bright-feature: aqua;

$border-line: dashed;
$test-border: none; //1px solid #222;

$size-small-med: 840px;
$size-smallest: 520px;
