@import './entry-point';

.content {
    padding: 2em;
}

.content-right {
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
    padding: 2em;
}
.content-left {
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em;
}

@media #{$small-and-down} {
    // styles for small screens and down
}
@media #{$medium-and-up} {
    // styles for medium screens and larger
}
@media #{$medium-and-down} {
    // styles for medium screens and down
}
@media #{$large-and-up} {
    // styles for large screens and up
}
@media #{$extra-large-and-up} {
    // styles for extra large screens and up
}
