@import './entry-point';

footer {
    border: $test-border;
}
.page-footer {
    background-color: $c-blue-dark;
    padding-top: 0;
    color: $c-light;
    .footer-copyright {
        color: $c-light;
        display: block;
    }
}
