@import './entry-point';

footer {
    border: $test-border;
    width: 100%;
}
.page-footer {
    background-color: $c-light;
    padding-top: 0;
    color: $c-blue-deep;
    .footer-copyright {
        color: $c-blue-deep;
        display: block;
        background-color: $c-light;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Roboto';
        color: $c-light;
    }
}
