@import './entry-point';

.split {
    width: 50%;
    border: $test-border;
}

.p-header {
    width: 100%;
    page-break-before: always;
}

.img-main {
    max-height: 100vh;
}

.huge {
    font-size: 40em;
    opacity: 0.2;
    color: $c-bright-feature;
}
.absolute-hammer {
    position: absolute;
    top: 8%;
    left: 50%;
    font-size: 6em;
    opacity: 0.4;
    color: $c-bright-feature;
}
.absolute-hello {
    position: absolute;
    top: 76%;
    left: 50%;
}
@media #{$medium-and-down} {
    // .split {
    //     min-height: 100vh;
    // }
    .absolute-hello {
        color: $c-light;
    }
}
@media #{$small-and-down} {
    // styles for medium screens and down
    .split {
        width: auto;
        min-height: 50vh;
    }
}
