@import './entry-point';
nav {
    background-color: $c-light;
    color: $c-dark;
    .brand-logo {
        color: $c-dark;
        top: 10px;
    }
    img {
        height: 40px;
        line-height: 40px;
    }
}
.nav-wrapper {
    background-color: $c-light;
}
